{
    root: true,
    plugins: [
        'promise'
    ],
    extends: [
        'bluedrop/node'
    ],
    rules: {
        'comma-style': ['error', 'last', {exceptions: {
            ArrayExpression: true,
            ObjectExpression: true
        }}],
        'no-console': 'off',
        'no-process-env': 'off',
        'promise/always-return': 'off',
        'promise/no-native': 'off'
    }
}
